<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\P4G.SaveTool.WinUI\nativeaot-win-x64\</PublishDir>
  </PropertyGroup>
</Project>
